@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
html{
    height: 100vh;
    scroll-behavior: smooth;
}
.logo{
    width: 135px;
}
.container1{
    max-width: auto;/*1250*/
    /*margin: 0px auto;*/
    margin: 0px 75px 0px 75px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    width: 100%;
    padding: 50px 4px;
    top: 0;
    position: fixed;
    left: 0;
    transition: 0.5s;
    z-index: 10;
}
header.rolagem{
    background-color: #dcdcdc;
    padding: 20px 4px;
}
header ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    margin: 0px 40px;
    font-weight: bold;
}
header ul li a{
    color: black;
    text-decoration: none;
    transition: 0.2s;
    display: block;
    position: relative;
    padding: 5px;
}
header ul:hover li a{
    opacity: 0.3;
}
header ul li a:hover{
    opacity: 1;
    transform: scale(1.1);
    color: white;
}
header ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.3s;
}
header ul li a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
    transition: 0.7s;
}
.container {
    margin: 170px auto 60px auto;
    margin-top: 170px;
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    border: 0.5px solid black;
    box-shadow: 0 0 15px rgb(0, 0, 0, 1);
}
.container2{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}
/*Botao de contato*/
.btn-contato{
    position: relative;
    font-size: 12px;
    padding: 10px 30px;
    border: 0.5px solid black;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.10);
    transition: all 0.5s ease;
}
.btn-contato a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.btn-contato::after{
    background: rgb(233, 1, 1);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease;
}
.btn-contato:hover a{
    color: white;
    font-weight: 450;
}
.btn-contato:hover::after{
    width: 100%;
}
/*--------------------------------------------------------------*/
.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form :where(.input-box input, .select-box, textarea) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
    cursor: pointer;
}

.gender input {
    accent-color: rgb(193, 1, 1);
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #707070;
}

.solicitacao :where(input, .select-box, label) {
    margin-top: 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: rgb(193, 1, 1);
}

.form button:hover {
    background-color: rgb(149, 1, 1);
}

.column {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
  }
  
.select-item {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

textarea {
    min-height: 150px;
    resize: vertical;
    font-size: 1rem;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    color: #707070;
    font-family: "Poppins", sans-serif;
}
/*rodapé site*/
footer{
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
footer .top-footer button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: .5s;
}
footer .top-footer button:hover{
    background-color: #fff;
    color: black;

}
footer .meio-footer{
    margin: 20px;
}
footer .meio-footer a{
    color: #fff;
}
footer .final-footer{
    border-top: 2px solid #fff;
}
footer .final-footer p{
    color: #fff;
    margin-top: 10px;
}


/* RESPONSIVO */
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}